<div class="row">
  <div class="col s12 m7">
    <div class="card">
      <div class="card-image">
        <img src="/img/El_enemigo_est_dentro-214486531-large.jpg">
        <span class="card-title">Carta for Mentor vVv</span>
      </div>
      <div class="card-content">
        <p>  Querido Vladimir <br>

          Quiero tomarme un momento para agradecerte por ser mi mentor en el mundo de IT. Desde que comenzamos a
          trabajar juntos, has sido un apoyo constante para mí en mi proceso de aprendizaje. Tu conocimiento y
          experiencia en este campo son realmente impresionantes, y estoy agradecido por cada lección que me has
          enseñado. <br>

          Me encanta la forma en que explicas las cosas de manera clara y concisa, lo cual ha sido de gran ayuda para mí
          en mi proceso de aprendizaje. Siempre estás dispuesto a tomarte el tiempo para responder mis preguntas, por
          más básicas que sean, y a ayudarme a resolver cualquier problema que pueda tener. <br>

          Además de enseñarme habilidades técnicas, también has compartido tus conocimientos sobre cómo tener éxito en
          la industria de IT. Tus consejos sobre cómo abordar proyectos, cómo trabajar en equipo y cómo adaptarse a los
          cambios en el campo han sido invaluables. <br>

          Aprecio la forma en que hemos forjado una amistad a través de nuestro proceso de aprendizaje. Es genial tener
          un mentor que también es un buen amigo. Estoy emocionado de seguir aprendiendo y creciendo en el mundo de IT
          junto a ti. <br>

          Gracias de nuevo por todo lo que has hecho por mí hasta ahora. Realmente aprecio todo tu apoyo y guía en mi
          proceso de aprendizaje. <br>

          Sinceramente, Kiril</p>
      </div>
      <div class="card-action ">
        <a href="#">---- GRACIAS ----</a>
      </div>
    </div>
  </div>
</div>